# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
 : List popular languages for Data Science : 
+ Python
+ R
+ SQL

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotib
4. Scikit_learn
5. GGlay
6. ggplot

| Data Science Tools |
|-------------------------|
| JupyterNotebook |
| RStudio |
| Vs Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
result = 200/60
print("200 minutes is",result,"hours")

200 minutes is 3.3333333333333335 hours

## Author
Farah MEGHINIF